.hero {
  background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
  margin-bottom: 190px;
}

.hero_inner {
  padding-top: 100px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero_paragraph {
  max-width: 840px;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 79px;
  text-align: center;
  color: #FFFFFF;
}

.hero_list {
  display: flex;
  align-items: center;
  transform: translateY(+140px);
}

.hero_input {
  padding: 23.5px 30px 22px 57px;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.hero_select {
  padding: 25px 30px 25px 57px;
  outline: none;
  border: none;
}

.hero_option {
  padding: 25px 30px 25px 57px;
  color: #343333;
}

.hero_btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background: #006AFF;
  border-radius: 0px 10px 10px 0px;
  padding: 22px 52px;
  border: none;
}

.hero_item_box_mini {
  background-color: #fff;
  padding: 22.6px;
  display: flex;
}

.search {
  width: 100%;
  padding: 0px 20px;
}

.search_container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.1);
}

.search_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search_form_input_div {
  width: 22%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.border_class {
  border-right: 1px solid #767373;
}



.search_date_input {
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
}

.search_radio_input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.search_form_btn {
  width: 154px;
  height: 100px;
  background: #006AFF;
  border-radius: 0px 10px 10px 0px;
  font-family: 'font500';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: .5s;
  cursor: pointer;
  color: #FFFFFF;
  border: 1px solid transparent;
}

.search_form_btn:hover {
  background-color: #FE8B37;
  transition: .5s;
}

.search_bulim_modal_container,
.ism_familya_modal_container {
  width: 22%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bulim_modal_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.bulim_modal,
.ism_sharif_modal {
  width: 90%;
  height: 420px;
  position: absolute;
  top: 100px;
  left: 0px;
  background: white;
  box-shadow: 2px 4px 11px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: none;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px;
}

.ism_sharif_modal {
  overflow: auto;
}

.ism_sharif_modal::-webkit-scrollbar {
  width: 5px;
}

.ism_sharif_modal::-webkit-scrollbar-thumb {
  background-color: dodgerblue;
  border-radius: 20px;
}

.search_bulim_modal_container:hover .bulim_modal {
  display: flex;
}

.search_bulim_modal_container:hover .bulim_modal_header_arrow_icons {
  transform: rotate(180deg);
}

.ism_familya_modal_container:hover .ismsharif_modal_arrow_icons {
  transform: rotate(180deg);
}

.bulim_modal_header_arrow_icons,
.ismsharif_modal_arrow_icons {
  transition: 0.1s;
  color: #333;
}

.bulim_input_label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: .2s;
  text-transform: capitalize;
}

.bulim_input_label:hover {
  color: dodgerblue;
  transition: .2s;
}

.bulim_modal_header_menu_icons {
  color: #006AFF;
  font-size: 20px;
}

.ism_familya_modal_container:hover .ism_sharif_modal {
  display: flex;
}

.bulim_modal_title {
  font-weight: 600;
}

@media (max-width: 1180px) {
  .hero {
    margin-bottom: 190px;
  }

  .hero_inner {
    padding-top: 100px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_paragraph {
    max-width: 840px;
    font-size: 44px;
    line-height: 79px;
    text-align: center;
  }

  .hero_list {
    display: flex;
    align-items: center;
    transform: translateY(+140px);
    padding-left: 0;
  }

  .hero_input {
    padding: 13.5px 20px 12px 47px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .hero_select {
    padding: 15px 20px 15px 47px;
  }

  .hero_option {
    padding: 15px 20px 15px 47px;
  }

  .hero_btn {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    padding: 13px 28px;
    border: none;
  }

  .hero_item_box_mini {
    padding: 12.6px;
    display: flex;
  }

  .search {
    width: 100%;
    padding: 0px 20px;
  }

  .search_container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .search_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search_form_input_div {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .search_date_input {
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
  }

  .search_radio_input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .search_form_btn {
    width: 154px;
    height: 100px;
    font-size: 20px;
    line-height: 24px;
  }

  .search_bulim_modal_container,
  .ism_familya_modal_container {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .bulim_modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .bulim_modal,
  .ism_sharif_modal {
    width: 90%;
    height: 420px;
    position: absolute;
    top: 100px;
    left: 0px;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
  }

  .bulim_input_label {
    display: flex;
  }

  .bulim_modal_header_menu_icons {
    font-size: 20px;
  }

  .ism_familya_modal_container:hover .ism_sharif_modal {
    display: flex;
  }

  .bulim_modal_title {
    font-weight: 600;
  }

}

@media (max-width: 1000px) {
  .hero {
    margin-bottom: 100px;
  }

  .hero_inner {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_paragraph {
    max-width: 540px;
    font-size: 36px;
    line-height: 59px;
    text-align: center;
  }

  .hero_list {
    display: flex;
    align-items: center;
    transform: translateY(+120px);
    padding-left: 0;
  }

  .hero_input {
    padding: 9.5px 16px 8px 43px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 14px;
  }

  .hero_select {
    padding: 11px 16px 11px 43px;
    font-size: 14px;
  }

  .hero_option {
    padding: 11px 16px 11px 43px;
    font-size: 14px;
  }

  .hero_btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 9px 24px;
    border: none;
  }

  .hero_item_box_mini {
    padding: 8.6px;
    display: flex;
    font-size: 14px;
  }

  .search {
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;
  }

  .search_container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .search_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search_form_input_div {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .search_date_input {
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
  }

  .search_radio_input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .search_form_btn {
    width: 154px;
    height: 100px;
    font-size: 14px;
    line-height: 24px;
  }

  .search_bulim_modal_container,
  .ism_familya_modal_container {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .bulim_modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .bulim_modal,
  .ism_sharif_modal {
    width: 90%;
    height: 420px;
    position: absolute;
    top: 100px;
    left: 0px;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
  }

  .bulim_input_label {
    display: flex;
  }

  .bulim_modal_header_menu_icons {
    font-size: 20px;
  }

  .ism_familya_modal_container:hover .ism_sharif_modal {
    display: flex;
  }

  .bulim_modal_title {
    font-weight: 600;
  }

}

@media (max-width: 880px) {
  .hero {
    margin-bottom: 100px;
  }

  .hero_inner {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_paragraph {
    max-width: 540px;
    font-size: 36px;
    line-height: 59px;
    text-align: center;
  }

  .hero_list {
    display: flex;
    align-items: center;
    transform: translateY(+90px);
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .hero_input {
    width: 200px;
    padding: 9.5px 16px 8px 43px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 14px;
  }

  .hero_select {
    width: 200px;
    padding: 11px 16px 11px 43px;
    font-size: 14px;
  }

  .hero_option {
    padding: 11px 16px 11px 43px;
    font-size: 14px;
  }

  .hero_btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 9px 24px;
    border: none;
  }

  .hero_item_box_mini {
    padding: 8.6px;
    display: flex;
    font-size: 14px;
  }

  .search {
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;
  }

  .search_container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .search_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search_form_input_div {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .search_date_input {
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
  }

  .search_radio_input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .search_form_btn {
    width: 154px;
    height: 100px;
    font-size: 14px;
    line-height: 24px;
  }

  .search_bulim_modal_container,
  .ism_familya_modal_container {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .bulim_modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .bulim_modal,
  .ism_sharif_modal {
    width: 90%;
    height: 420px;
    position: absolute;
    top: 100px;
    left: 0px;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
  }

  .bulim_input_label {
    display: flex;
  }

  .bulim_modal_header_menu_icons {
    font-size: 20px;
  }

  .ism_familya_modal_container:hover .ism_sharif_modal {
    display: flex;
  }

  .bulim_modal_title {
    font-weight: 600;
  }

  .hero_list {
    display: grid;
    column-gap: 40px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero_item_1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .hero_item_2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .hero_item_3 {
    grid-row: 1/2;
    grid-column: 2/3;

  }

  .hero_item_4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .hero_item_5 {
    grid-row: 1/2;
    grid-column: 3/4;
    transform: translateY(+20px);
  }

}

@media (max-width: 600px) {
  .hero {
    margin-bottom: 100px;
  }

  .hero_inner {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_paragraph {
    max-width: 440px;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
  }

  .hero_list {
    display: flex;
    align-items: center;
    transform: translateY(+50px);
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .hero_input {
    width: 170px;
    padding: 9.5px 16px 8px 43px;
    border: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 14px;
  }

  .hero_select {
    width: 170px;
    padding: 11px 16px 11px 43px;
    font-size: 14px;
  }

  .hero_option {
    padding: 11px 16px 11px 43px;
    font-size: 14px;
  }

  .hero_btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 9px 24px;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .hero_item_box_mini {
    padding: 8.6px;
    display: flex;
    font-size: 14px;
  }

  .search {
    width: 100%;
    padding: 0px 20px;
    font-size: 14px;
  }

  .search_container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .search_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search_form_input_div {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .search_date_input {
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
  }

  .search_radio_input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .search_form_btn {
    width: 154px;
    height: 100px;
    font-size: 14px;
    line-height: 24px;
  }

  .search_bulim_modal_container,
  .ism_familya_modal_container {
    width: 22%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .bulim_modal_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .bulim_modal,
  .ism_sharif_modal {
    width: 90%;
    height: 420px;
    position: absolute;
    top: 100px;
    left: 0px;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
  }

  .bulim_input_label {
    display: flex;
  }

  .bulim_modal_header_menu_icons {
    font-size: 20px;
  }

  .ism_familya_modal_container:hover .ism_sharif_modal {
    display: flex;
  }

  .bulim_modal_title {
    font-weight: 600;
  }

  .hero_list {
    display: grid;
    column-gap: 40px;
    row-gap: 4px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  .hero_item_1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .hero_item_2 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .hero_item_3 {
    grid-row: 3/4;
    grid-column: 1/2;

  }

  .hero_item_4 {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .hero_item_5 {
    grid-row: 5/6;
    grid-column: 1/2;
    transform: translate(+50px);
  }

}