.header {
  background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  top: 1%;
  transform: translate(0, 50%);
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.header_inner {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_input_search {
  margin-right: -30px;
  padding-top: 0px;
  width: 20px;
  height: 22px;
  outline: none;
}

.header_input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.header_input {
  width: 304px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-left: 50px;
  padding-top: 14px;
  padding-bottom: 12px;
  outline: none;
  appearance: none;
}

.header_list {
  display: flex;
  align-items: center;
}

.header_item+.header_item {
  margin-left: 40px;
}

.header_item_link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #FFFFFF;
}

.header_btn {
  background: #FE8B37;
  border-radius: 4px;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  border: none;
  color: #FFFFFF;
  padding: 15px 20px;
}

.header_btn_span {
  margin-right: 10px;
}

@media (max-width: 1020px) {
  .header_logo-img {
    width: 78px;
    height: 25px;
  }

  .header_inner {
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_input_search {
    margin-right: -30px;
    padding-top: 0px;
    width: 20px;
    height: 22px;
    outline: none;
  }

  .header_input {
    width: 204px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 14px;
    padding-bottom: 12px;
  }

  .header_list {
    display: flex;
  }

  .header_item+.header_item {
    margin-left: 30px;
  }

  .header_item_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .header_btn {
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 16px;
  }

  .header_btn_span {
    margin-right: 10px;
  }
}

@media (max-width: 780px) {
  .header_logo-img {
    width: 78px;
    height: 25px;
  }

  .header_inner {
    position: relative;
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_input_search {
    margin-right: -30px;
    padding-top: 0px;
    width: 20px;
    height: 22px;
    outline: none;
  }

  .header_input {
    width: 204px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-left: 40px;
    padding-top: 14px;
    padding-bottom: 12px;
    margin-right: 50px;
  }

  .header_list {
    display: none;
  }

  .header_item+.header_item {
    margin-left: 0px;
  }

  .header_item_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .header_btn {
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    padding: 12px 16px;
    margin-top: 50px;
  }

  .header_btn_span {
    margin-right: 10px;
  }

  label #btn {
    display: inline-block;
  }

  .header_list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    display: block;
    line-height: 40px;
    background: linear-gradient(265.48deg, #095ACD 33.12%, #006AFF 84.7%);
    z-index: 100;
    transition: 0.5s;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
  }

  .active {
    position: fixed;
    right: -100%;
    top: 11px;
  }

  #check:checked~.header_list {
    right: 0px;
  }

  #check:checked~label #cancel {
    display: block;
    z-index: 101;
    color: rgb(251, 248, 248);
    right: 0;
  }

  #check:checked~label #btn {
    display: none;
  }
}

@media (max-width: 780px) {
  .header_inner {
    position: relative;
  }
  .header_logo-img {
    position: absolute;
    left: 0;
    width: 78px;
    height: 25px;
    margin-right: auto;
    bottom: 30px;
  }
}

@media (max-width: 400px) {
  .header_inner {
    position: relative;
  }
  .header_logo-img {
    position: absolute;
    left: 0;
    width: 68px;
    height: 22px;
    margin-right: auto;
    bottom: 30px;
  }

  .header_input {
    width: 104px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 50px;
  }

  .header_input_search {
    margin-right: -30px;
    padding-top: 0px;
    width: 16px;
    height: 18px;
    outline: none;
  }

  label #btn,
label #cancel {
  font-size: 30px;
  top: 8px;
}
}