.sidebar {
  background: #016BFF;
  width: 15vw;
  height: 100vh;
  padding-left: 30px;
  padding-top: 18px;
  position: fixed;
  top: 0;
}

.sidebar_logo {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
}

.sidebar_list {
  padding-left: 0;
  margin-top: 70px;
}

.sidebar_item {
  display: flex;
  align-items: center;
  margin-top: 37px;
}

.sidebar_link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.sidebar_img {
  margin-right: 13px;
}

.sidebar_p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 17px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.sidebar_bottom_p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 13px;
  color: #FFFFFF;
  margin-top: 33vh;
}